body{
    background-color: rgb(135 197 207);;
}
.container {
    text-align: center;
    margin-top: 10%;
}
h3{
    color:#fff;
    text-align:center;

}
#student-input {
    width: 40%;
    padding: 2%;
    margin-bottom: 10px;
    outline: none;
    border: 2px solid #aaa;
    border-radius: 28px;
}
#displayList{
    color:blue;
    font-weight:bold;
}
#result {
    color: #333;
    font-weight: bold;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 11px 8px 8px rgb(207 175 135);
    margin: 18%;
}
#search{
  width: 18%;
outline: none;
padding: 1.5%;
margin-bottom: 20px;
border-radius: 15px;
color:#fff;
font-size: 13px;
background-color: red;
border: 2px solid #aaa;
}